Repository openplayerjs/openplayerjs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, npm run test:changes, git add --all, stylelint --fix

chore: Removed coverage configuration
  README.md
  jest.config.js
Due: prettier --write, eslint --fix, npm run test:changes, git add --all

chore: Standardized directory for tests
  jest.config.js
  src/__tests__/hooks.spec.ts
  src/__tests__/media/html5.spec.ts
  src/__tests__/player.spec.ts
  src/__tests__/setupTests.js
  src/__tests__/utils/constants.spec.ts
  src/__tests__/utils/general.spec.ts
  src/__tests__/utils/media.spec.ts
  src/__tests__/utils/time.spec.ts
  tsconfig.json
Due: prettier --write, eslint --fix, npm run test:changes, git add --all

chore: Reverted deletion of essential files for testing
  types/player.d.ts
  types/player.test-d.ts
Due: prettier --write, eslint --fix, npm run test:changes, git add --all

chore: Reverted change to integrate coveralls back
  .circleci/config.yml
  package-lock.json
  package.json
Due: none

feat(context): Initiated work to load in a smarter way pieces that can go along with media, such as different types of Ads
  src/__tests__/setupTests.js
Due: prettier --write, eslint --fix, npm run test:changes, git add --all

Update README.md
  README.md
Due: none

feat(player): Added new layer to separate responsibilities of media more effectively; added more tests for HTML5 media type
  jest.config.js
  package.json
  src/__tests__/context/index.spec.ts
  src/__tests__/media/html5.spec.ts
  src/__tests__/utils/media.spec.ts
  src/__tests__/utils/time.spec.ts
  src/media/ads/default.ts
  src/media/ads/live.ts
  src/media/decorator.ts
  src/media/index.ts
  src/media/manager.ts
  src/media/types/html5.ts
  src/media/types/native.ts
Due: prettier --write, eslint --fix, npm run test:changes, git add --all

fix(player): Added new tests for HTML5; fixed existing tests to check load and set src
  .eslintrc
  src/__tests__/media/html5.spec.ts
  src/__tests__/setupTests.js
  src/media/types/html5.ts
Due: prettier --write, eslint --fix, npm run test:changes, git add --all

chore: Updated migration items for 3.x.x
  migration.md
Due: none

chore: Upgraded packages
  README.md
  package-lock.json
  package.json
Due: none

fix(constants): removed unnecessary interface
  .babelrc
  src/utils/constants.ts
Due: prettier --write, eslint --fix, npm run test:changes, git add --all

fix(tests): minor fixes for unit tests; removed element from config
  src/__tests__/media/html5.spec.ts
  tsconfig.json
Due: prettier --write, eslint --fix, npm run test:changes, git add --all

chore: Renamed file for clarity; added missing unit tests to test default methods
  src/__tests__/media/html5.spec.ts
  src/media/types/html5.ts
  src/media/types/implementation.ts
Due: prettier --write, eslint --fix, npm run test:changes, git add --all

generate source maps for distribution
  webpack.config.js
Due: prettier --write, eslint --fix, npm run test:changes, git add --all

chore: generate source maps for distribution (#365)
  webpack.config.js
Due: prettier --write, eslint --fix, npm run test:changes, git add --all

chore: Upgraded packages
  package-lock.json
  package.json
Due: none

fix(player): Modified webpack configuration to create proper ES6/AMD default export; fixes #366
  dist/openplayer.js
  dist/openplayer.min.js
  webpack.config.js
Due: prettier --write, eslint --fix, npm run test:changes, git add --all

test config change
  dist/openplayer.js
Due: prettier --write, eslint --fix, npm run test:changes, git add --all

fix(player): Modified webpack configuration to adapt to changes in Webpack 5 and changed name of library to create properly default element; fixes #366
  dist/openplayer.js
  dist/openplayer.min.css
  dist/openplayer.min.css.map
  dist/openplayer.min.js
  dist/openplayer.min.js.map
  webpack.config.js
Due: prettier --write, eslint --fix, npm run test:changes, git add --all, stylelint --fix

chore: Reintegrated public path in webpack configuration
  webpack.config.js
Due: prettier --write, eslint --fix, npm run test:changes, git add --all

chore: Upgraded distribution files
  dist/openplayer.js
  dist/openplayer.min.css.map
  dist/openplayer.min.js
  dist/openplayer.min.js.map
Due: prettier --write, eslint --fix, npm run test:changes, git add --all

chore: Removed CSS operations from webpack configuration; removed SVGs and used base64 encoded URLs for styles; added new commands to create distribution files for stylesheet
  .eslintrc
  dist/openplayer.css
  dist/openplayer.min.css
  package-lock.json
  package.json
  src/css/player.css
  src/css/svg/closed-captions.svg
  src/css/svg/fullscreen-off.svg
  src/css/svg/fullscreen-on.svg
  src/css/svg/mute.svg
  src/css/svg/pause.svg
  src/css/svg/play.svg
  src/css/svg/replay.svg
  src/css/svg/settings.svg
  src/css/svg/volume-down.svg
  src/css/svg/volume.svg
  webpack.config.js
Due: prettier --write, eslint --fix, npm run test:changes, git add --all, stylelint --fix

chore: Added missing file
  postcss.config.js
Due: prettier --write, eslint --fix, npm run test:changes, git add --all

Release 2.13.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: Started to work on integration of media with main layer; removed command and fixed ESM creation; added types back
  .gitignore
  package.json
  src/__tests__/context/index.spec.ts
  src/__tests__/media/hls.spec.ts
  src/__tests__/media/html5.spec.ts
  src/__tests__/utils/general.spec.ts
  src/media/index.ts
  src/media/types/hls.ts
  src/media/types/html5.ts
  src/media/types/implementation.ts
  src/player.ts
  src/utils/general.ts
  tsconfig-esm.json
  tsconfig.json
  types/hooks.d.ts
  types/interfaces.d.ts
  types/media/ads/default.d.ts
  types/media/ads/live.d.ts
  types/media/decorator.d.ts
  types/media/index.d.ts
  types/media/manager.d.ts
  types/media/types/hls.d.ts
  types/media/types/html5.d.ts
  types/media/types/implementation.d.ts
  types/player.d.ts
  types/utils/constants.d.ts
  types/utils/general.d.ts
  types/utils/media.d.ts
  types/utils/time.d.ts
  webpack.config.js
Due: prettier --write, eslint --fix, npm run test:changes, git add --all

fix(player): Added workaround to ensure proper play of audio when delay is present
  dist/esm/controls/play.js
  dist/openplayer.js
  dist/openplayer.min.js
  dist/openplayer.min.js.map
  package-lock.json
  src/js/controls/play.ts
Due: prettier --write, eslint --fix, npm run test:changes, git add --all

It's already updated, I added some changes on the index.html, the style.css and on the script
  css/style.css
  index.html
  js/script.js
Due: prettier --write, eslint --fix, npm run test:changes, git add --all, stylelint --fix

fix(player): Added workaround to ensure proper play of audio when delay is present
  dist/esm/controls/play.js
  dist/openplayer.js
  dist/openplayer.min.js
  dist/openplayer.min.js.map
  src/js/controls/play.ts
Due: prettier --write, eslint --fix, npm run test:changes, git add --all

chore: Reverted changes related to autoplay and iOS
  dist/esm/controls/play.js
  dist/openplayer.css
  dist/openplayer.js
  dist/openplayer.min.css
  dist/openplayer.min.js
  dist/openplayer.min.js.map
  src/js/controls/play.ts
Due: prettier --write, eslint --fix, npm run test:changes, git add --all, stylelint --fix

chore: Moved browser support into package.json and removed references to DASH and FLV in documentation
  .browserslistrc
  README.md
  docs/api.md
  docs/usage.md
  package.json
Due: none

chore: Sanitize labels on each control and removed export at the end of classes
  src/controls.ts
  src/controls/captions.ts
  src/controls/fullscreen.ts
  src/controls/levels.ts
  src/controls/progress.ts
  src/controls/settings.ts
  src/controls/time.ts
  src/controls/volume.ts
  src/media/hls.ts
  src/media/html5.ts
  src/media/native.ts
  src/utils/general.ts
  types/controls.d.ts
  types/controls/captions.d.ts
  types/controls/fullscreen.d.ts
  types/controls/levels.d.ts
  types/controls/progress.d.ts
  types/controls/settings.d.ts
  types/controls/time.d.ts
  types/controls/volume.d.ts
  types/media/hls.d.ts
  types/media/html5.d.ts
  types/media/native.d.ts
Due: prettier --write, eslint --fix, npm run test:changes, git add --all

fix(ads): Refactor Ads class to reduce complexity; fixed issues with manual auto breaks workflow; added support for live ads
  src/controls/play.ts
  src/interfaces.ts
  src/media.ts
  src/media/ads.ts
  src/player.ts
  types/controls/play.d.ts
  types/interfaces.d.ts
  types/media.d.ts
  types/media/ads.d.ts
  types/player.d.ts
Due: prettier --write, eslint --fix, npm run test:changes, git add --all

Path conditions:
  prettier --write: (any of: *.{js,ts}) or (any of: src/js/**/*.json)
  eslint --fix: any of: *.{js,ts}
  npm run test:changes: any of: *.{js,ts}
  git add --all: (any of: *.{js,ts}) or (any of: src/js/**/*.json)
  stylelint --fix: any of: *.css
