Repository openplayerjs/openplayerjs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint src --cache --fix, jest, git add --all, stylelint --fix

chore(release): adjustments for release workflow
  .github/workflows/build.yml
  CHANGELOG.md
  commitlint.config.cjs
  jest.config.cjs
  package.json
  packages/ads/.release-it.cjs
  packages/ads/__tests__/ads.omid.test.ts
  packages/ads/__tests__/caption-manager.test.ts
  packages/ads/__tests__/vast-parser.branches.test.ts
  packages/ads/package.json
  packages/core/.release-it.cjs
  packages/hls/.release-it.cjs
  packages/player/.release-it.cjs
  packages/player/__tests__/player.controls.base.branches.test.ts
  packages/player/__tests__/player.controls.fullscreen.branches.test.ts
  packages/player/__tests__/player.controls.progress.mobile.test.ts
  packages/player/__tests__/player.controls.volume.branches.test.ts
  packages/player/__tests__/player.events.keyboard.test.ts
  packages/youtube/.release-it.cjs
  pnpm-lock.yaml
  scripts/changelog-config.mjs
  scripts/orchestrate-release.mjs
  scripts/preflight.mjs
  scripts/split-changelog.mjs
  tsconfig.typecheck.json
  turbo.json
Due: prettier --write, eslint src --cache --fix, jest, git add --all

fix(release): CHANGELOG fixes
  CHANGELOG.md
  packages/ads/.release-it.cjs
  packages/ads/CHANGELOG.md
  packages/core/.release-it.cjs
  packages/core/CHANGELOG.md
  packages/hls/.release-it.cjs
  packages/hls/CHANGELOG.md
  packages/player/.release-it.cjs
  packages/player/CHANGELOG.md
  packages/youtube/.release-it.cjs
  packages/youtube/CHANGELOG.md
  renovate.json
  scripts/orchestrate-release.mjs
Due: none

feat(player): WCAG 2.2 enhancements for controls
  packages/player/__tests__/player.a11y.test.ts
  packages/player/src/a11y.ts
  packages/player/src/configuration.ts
  packages/player/src/controls/captions.ts
  packages/player/src/controls/duration.ts
  packages/player/src/controls/fullscreen.ts
  packages/player/src/controls/play.ts
  packages/player/src/controls/progress.ts
  packages/player/src/controls/settings.ts
  packages/player/src/controls/time.ts
  packages/player/src/controls/volume.ts
  packages/player/src/style.css
  packages/player/src/ui.ts
Due: prettier --write, eslint src --cache --fix, jest, git add --all, stylelint --fix

fix(ads): Added new labels configuration for ads and expanded coverage
  packages/ads/__tests__/ads.hooks.test.ts
  packages/ads/__tests__/schedule.branches.test.ts
  packages/ads/src/ad-dom.ts
  packages/ads/src/ads.ts
  packages/ads/src/types.ts
Due: prettier --write, eslint src --cache --fix, jest, git add --all

fix(player): Expanded unit test coverage in player package
  packages/player/__tests__/player.controls.play.branches.test.ts
  packages/player/__tests__/player.controls.progress.branches.test.ts
  packages/player/__tests__/player.index.autohide.test.ts
  packages/player/__tests__/player.index.createUI.test.ts
Due: prettier --write, eslint src --cache --fix, jest, git add --all

fix(core): iframe engine fixes
  packages/core/__tests__/engines.iframe.test.ts
  packages/core/src/engines/iframe.ts
Due: prettier --write, eslint src --cache --fix, jest, git add --all

fix(player): shared a11y announcer, removal of all events and cross-handler loops
  packages/player/src/a11y.ts
  packages/player/src/configuration.ts
  packages/player/src/controls/captions.ts
  packages/player/src/controls/fullscreen.ts
  packages/player/src/controls/play.ts
  packages/player/src/controls/progress.ts
  packages/player/src/controls/volume.ts
  packages/player/src/events.ts
  packages/player/src/ui.ts
Due: prettier --write, eslint src --cache --fix, jest, git add --all

fix(release): added `changelog` as a valid scope
  commitlint.config.cjs
Due: none

docs(changelog): v3.3.0
  CHANGELOG.md
Due: none

chore(release): @openplayerjs/core@3.3.0
  packages/core/package.json
Due: none

chore(release): @openplayerjs/player@3.3.0
  packages/player/package.json
Due: none

chore(release): @openplayerjs/hls@3.3.0
  packages/hls/package.json
Due: none

chore(release): @openplayerjs/ads@3.3.0
  packages/ads/package.json
Due: none

fix(docs): Updated CHANGELOG with proper entries from v3.3.0 and added scope for contributing guidelines
  CHANGELOG.md
  CONTRIBUTING.md
Due: none

feat(ads): support for SSAI and hybrid approaches, refactor for CSAI
  packages/ads/README.md
  packages/ads/__tests__/ads.scte.test.ts
  packages/ads/__tests__/ads.scte35.test.ts
  packages/ads/__tests__/ads.ssai.test.ts
  packages/ads/src/ads.ts
  packages/ads/src/index.ts
  packages/ads/src/strategies/csai.ts
  packages/ads/src/strategies/hybrid.ts
  packages/ads/src/strategies/scte35.ts
  packages/ads/src/strategies/ssai.ts
  packages/ads/src/types.ts
Due: prettier --write, eslint src --cache --fix, jest, git add --all

feat(hls): enhanced support for metadata tracks in HLS
  packages/hls/__tests__/engines.test.ts
  packages/hls/__tests__/hls.scte.test.ts
  packages/hls/src/hls.ts
  packages/hls/src/server-ads-bridge.ts
Due: prettier --write, eslint src --cache --fix, jest, git add --all

chore(repo): file conversion to CommonJS
  eslint.config.cjs
  packages/ads/package.json
  packages/ads/rollup.config.cjs
  packages/core/package.json
  packages/core/rollup.config.cjs
  packages/hls/package.json
  packages/hls/rollup.config.cjs
  packages/player/package.json
  packages/player/rollup.config.cjs
  packages/youtube/package.json
  packages/youtube/rollup.config.cjs
  rollup.config.mjs
  rollup.shared.cjs
  rollup.shared.mjs
  scripts/changelog-config.cjs
  scripts/inject-release-notes.cjs
  scripts/orchestrate-release.cjs
  scripts/preflight.cjs
  scripts/split-changelog.cjs
Due: none

fix(repo): Fixed vulenrabilities and issues in unit tests
  package.json
  packages/ads/__tests__/ads.ssai.test.ts
  packages/hls/__tests__/engines.test.ts
  pnpm-lock.yaml
Due: prettier --write, eslint src --cache --fix, jest, git add --all

fix(ads): Added missing `await` to playBreakFromVast call
  packages/ads/src/ads.ts
Due: prettier --write, eslint src --cache --fix, jest, git add --all

fix(ads): removal of deprecated method and SIMID warning
  packages/ads/__tests__/ads.adPlayback.branches.test.ts
  packages/ads/__tests__/ads.simid.test.ts
  packages/ads/src/ads.ts
  packages/ads/src/simid.ts
  packages/ads/src/strategies/csai.ts
Due: prettier --write, eslint src --cache --fix, jest, git add --all

fix(ads): Marked edge cases to avoid decreasing coverage
  packages/ads/src/simid.ts
Due: prettier --write, eslint src --cache --fix, jest, git add --all

fix(hls): Marked edge cases to avoid decreasing coverage
  packages/hls/__tests__/engines.test.ts
  packages/hls/src/hls.ts
Due: prettier --write, eslint src --cache --fix, jest, git add --all

feat(ads): SSAI and hybrid support, enhanced support for metadata tracks in HLS (#507)
  eslint.config.cjs
  package.json
  packages/ads/README.md
  packages/ads/__tests__/ads.adPlayback.branches.test.ts
  packages/ads/__tests__/ads.scte.test.ts
  packages/ads/__tests__/ads.scte35.test.ts
  packages/ads/__tests__/ads.simid.test.ts
  packages/ads/__tests__/ads.ssai.test.ts
  packages/ads/package.json
  packages/ads/rollup.config.cjs
  packages/ads/src/ads.ts
  packages/ads/src/index.ts
  packages/ads/src/simid.ts
  packages/ads/src/strategies/csai.ts
  packages/ads/src/strategies/hybrid.ts
  packages/ads/src/strategies/scte35.ts
  packages/ads/src/strategies/ssai.ts
  packages/ads/src/types.ts
  packages/core/package.json
  packages/core/rollup.config.cjs
  packages/hls/__tests__/engines.test.ts
  packages/hls/__tests__/hls.scte.test.ts
  packages/hls/package.json
  packages/hls/rollup.config.cjs
  packages/hls/src/hls.ts
  packages/player/package.json
  packages/player/rollup.config.cjs
  packages/youtube/package.json
  packages/youtube/rollup.config.cjs
  pnpm-lock.yaml
  rollup.config.mjs
  rollup.shared.cjs
  rollup.shared.mjs
  scripts/changelog-config.cjs
  scripts/inject-release-notes.cjs
  scripts/orchestrate-release.cjs
  scripts/preflight.cjs
  scripts/split-changelog.cjs
Due: prettier --write, eslint src --cache --fix, jest, git add --all

chore(docs): Fixed wrong packages names in documentation
  MIGRATION.v3.md
  README.md
  packages/core/README.md
  packages/hls/README.md
Due: none

chore(deps): Upgraded lock file
  pnpm-lock.yaml
Due: none

fix(repo): Replaced extension for release commands to match new extension in scripts
  .release-it.cjs
  package.json
Due: none

docs(changelog): v3.4.0
  CHANGELOG.md
Due: none

chore(release): @openplayerjs/core@3.4.0
  packages/core/package.json
Due: none

chore(release): @openplayerjs/player@3.4.0
  packages/player/package.json
Due: none

chore(release): @openplayerjs/hls@3.4.0
  packages/hls/package.json
Due: none

chore(release): @openplayerjs/ads@3.4.0
  packages/ads/package.json
Due: none

chore(release): @openplayerjs/youtube@3.4.0
  packages/youtube/package.json
Due: none

fix(repo): Modified orchestrator script to consider squash merge commits; updated CHANGELOG
  CHANGELOG.md
  scripts/orchestrate-release.cjs
Due: none

Renamed packages; added YouTube one
  index.html
Due: none

Update package names to use openplayerjs prefix
  index.html
Due: none

Update package names to use openplayerjs prefix (#514)
  index.html
Due: none

chore(docs): Added new badge for OpenSSF Best Practices
  README.md
Due: none

feat(ads): Ads tag URL pipeline support
  packages/ads/README.md
  packages/ads/__tests__/ads.adBlockerFallback.test.ts
  packages/ads/__tests__/ads.adTagResolver.test.ts
  packages/ads/__tests__/ads.sourceMode.test.ts
  packages/ads/__tests__/ads.targeting.test.ts
  packages/ads/__tests__/csai-utils.test.ts
  packages/ads/__tests__/simid-rpc.test.ts
  packages/ads/src/ad-dom.ts
  packages/ads/src/ads.ts
  packages/ads/src/constants.ts
  packages/ads/src/csai-utils.ts
  packages/ads/src/schedule.ts
  packages/ads/src/simid-protocol.ts
  packages/ads/src/simid-rpc.ts
  packages/ads/src/simid.ts
  packages/ads/src/strategies/csai.ts
  packages/ads/src/strategies/ssai.ts
  packages/ads/src/types.ts
  packages/ads/src/vast-parser.ts
  packages/core/__tests__/core.utils.test.ts
  packages/core/src/core/index.ts
  packages/core/src/core/utils.ts
Due: prettier --write, eslint src --cache --fix, jest, git add --all

chore(deps): Fixed high severity vulnerability
  package.json
  pnpm-lock.yaml
Due: none

Path conditions:
  prettier --write: any of: *.ts
  eslint src --cache --fix: any of: *.ts
  jest: any of: *.ts
  git add --all: (any of: *.ts) or (any of: *.css)
  stylelint --fix: any of: *.css
