Repository openplayerjs/openplayerjs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, npm run test:sources, git add --all, stylelint --fix

.lintstagedrc:

{
    "*.{js,ts}": [
        "prettier --write",
        "eslint --fix",
        "npm run test:sources",
        "git add --all"
    ],
    "*.css": [
        "stylelint --fix"
    ]
}

fix(docs): Fixed discrepancy in documentation
  docs/usage.md
Due: none

fix(docs): Fixed typos in JavaScript section
  docs/usage.md
Due: none

Release v2.14.8
  CHANGELOG.md
  README.md
  dist/openplayer.css
  dist/openplayer.js
  dist/openplayer.min.css
  dist/openplayer.min.js
  dist/openplayer.min.js.map
  package-lock.json
  package.json
Due: prettier --write, eslint --fix, npm run test:sources, git add --all, stylelint --fix

fix: upgrade core-js from 3.40.0 to 3.41.0
  package-lock.json
  package.json
Due: none

fix(player): Added new conditional to ensure that Play button will reset to original state if video ended and a new media source was loaded; updated test and fixed NPM warnings
  package-lock.json
  src/js/controls/play.ts
  test/player.ts
Due: prettier --write, eslint --fix, npm run test:sources, git add --all

Updated dist files
  dist/esm/controls/play.js
  dist/openplayer.js
  dist/openplayer.min.js
  dist/openplayer.min.js.map
Due: prettier --write, eslint --fix, npm run test:sources, git add --all

Release 2.14.9
  .husky/_/husky.sh
  .husky/pre-commit
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: Installed missing package
  package-lock.json
  package.json
Due: none

Release 2.14.10
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix: upgrade core-js from 3.41.0 to 3.42.0
  package-lock.json
  package.json
Due: none

Release 2.14.11
  CHANGELOG.md
  dist/esm/media/html5.js
  dist/esm/player.js
  dist/openplayer.css
  dist/openplayer.js
  dist/openplayer.min.css
  dist/openplayer.min.js
  dist/openplayer.min.js.map
  package-lock.json
  package.json
Due: prettier --write, eslint --fix, npm run test:sources, git add --all, stylelint --fix

fix(pipeline): Updated Actions to use Node 22
  .github/workflows/coveralls.yml
Due: none

fix: upgrade core-js from 3.47.0 to 3.48.0
  package-lock.json
  package.json
Due: none

fix(player): Added type to all buttons in player to avoid using default that could lead; to submit forms; fixes #455
  src/js/controls/captions.ts
  src/js/controls/levels.ts
  src/js/controls/settings.ts
  src/js/player.ts
Due: prettier --write, eslint --fix, npm run test:sources, git add --all

chore: Upgraded packages
  package-lock.json
  package.json
Due: none

Release 2.14.12
  CHANGELOG.md
  dist/esm/controls/captions.js
  dist/esm/controls/levels.js
  dist/esm/controls/settings.js
  dist/esm/player.js
  dist/openplayer.css
  dist/openplayer.js
  dist/openplayer.min.css
  dist/openplayer.min.js
  dist/openplayer.min.js.map
  package-lock.json
  package.json
Due: prettier --write, eslint --fix, npm run test:sources, git add --all, stylelint --fix

fix(pipeline): Upgraded Node to latest stable version (24.x.x)
  .github/workflows/coveralls.yml
Due: none

fix(pipeline): Changed command to install libraries
  .github/workflows/coveralls.yml
Due: none

refactor: Linter and controls fixes
  .gitignore
  .lintstagedrc
  eslint.config.mjs
  package-lock.json
  package.json
  src/core/configuration.ts
  src/core/media.ts
  src/core/overlay.ts
  src/core/player.ts
  src/core/plugin.ts
  src/engines/base.ts
  src/engines/hls.ts
  src/engines/html5.ts
  src/player.css
  src/plugins/ads.ts
  src/ui/control.ts
  src/ui/controls/base.ts
  src/ui/controls/fullscreen.ts
  src/ui/controls/progress.ts
  src/ui/controls/settings.ts
  src/ui/controls/volume.ts
  src/ui/events.ts
  src/ui/index.ts
  src/ui/overlay.ts
  src/ui/playback.ts
  src/ui/settings.ts
  src/umd/index.ts
Due: prettier --write, eslint --fix, npm run test:sources, git add --all, stylelint --fix

fix: Fixed more linter issues after updates in ESLint config; fixed lintstaged commands
  .lintstagedrc
  __tests__/ads.coverage.test.ts
  __tests__/core.player.branches.test.ts
  __tests__/engines.hls.branches.test.ts
  __tests__/ui.control.branches.test.ts
  __tests__/ui.settings.test.ts
  eslint.config.mjs
  package.json
  src/engines/hls.ts
  src/ui/controls/captions.ts
  src/ui/controls/fullscreen.ts
  src/ui/controls/settings.ts
  tsconfig.json
Due: prettier --write, eslint --fix, npm run test:sources, git add --all

refactor: first pass on audio integration and cleaning up
  __tests__/ui.controls.test.ts
  __tests__/ui.events.centerOverlay.test.ts
  __tests__/ui.events.keyboard.test.ts
  __tests__/ui.index.autohide.test.ts
  __tests__/ui.settings.test.ts
  src/core/configuration.ts
  src/core/player.ts
  src/core/utils.ts
  src/engines/base.ts
  src/engines/hls.ts
  src/player.css
  src/plugins/ads.ts
  src/ui/controls/captions.ts
  src/ui/controls/currentTime.ts
  src/ui/controls/duration.ts
  src/ui/controls/fullscreen.ts
  src/ui/controls/play.ts
  src/ui/controls/progress.ts
  src/ui/controls/settings.ts
  src/ui/controls/time.ts
  src/ui/controls/volume.ts
  src/ui/events.ts
  src/ui/index.ts
  src/ui/overlay.ts
  src/ui/playback.ts
  src/umd/index.ts
Due: prettier --write, eslint --fix, npm run test:sources, git add --all, stylelint --fix

refactor: unit tests audit, ads fixes and core pairing with existing functionality
  __tests__/ads.branches.test.ts
  __tests__/ads.coverage.test.ts
  __tests__/ads.scheduling.test.ts
  __tests__/ads.test.ts
  __tests__/core.api.methods.test.ts
  __tests__/core.player.branches.test.ts
  __tests__/mocks/vmap.ts
  __tests__/ui.controls.progress.branches.test.ts
  __tests__/ui.controls.test.ts
  __tests__/ui.events.centerOverlay.test.ts
  __tests__/ui.index.autohide.test.ts
  __tests__/ui.playback.toggle.test.ts
  src/core/events.ts
  src/core/player.ts
  src/player.css
  src/plugins/ads.ts
  src/ui/controls/progress.ts
  src/ui/events.ts
  src/ui/extend.ts
  src/ui/index.ts
  src/ui/playback.ts
  src/umd/ads.ts
  src/umd/index.ts
Due: prettier --write, eslint --fix, npm run test:sources, git add --all, stylelint --fix

fix: WCAG 2.2 standard fix for progress bar and focus, and expansion of canPlay for HLS
  src/engines/hls.ts
  src/player.css
  src/ui/controls/progress.ts
Due: prettier --write, eslint --fix, npm run test:sources, git add --all, stylelint --fix

fix: Fixed package vulnerabilities
  package-lock.json
Due: none

refactor: split pipeline in multiple steps and upgraded actions
  .github/workflows/coveralls.yml
Due: none

fix: pause media behavior and minor configuration refactor
  __tests__/ui.mediaContainer.clickPause.test.ts
  __tests__/ui.overlay.flashPause.test.ts
  rollup.config.mjs
  src/core/configuration.ts
  src/core/player.ts
  src/player.css
  src/ui/index.ts
  src/ui/overlay.ts
Due: prettier --write, eslint --fix, npm run test:sources, git add --all, stylelint --fix

chore: Upgraded packages to remove vulnerabilities
  package-lock.json
  package.json
Due: none

fix: Sorted CSS rules to pass stylelinter; fixed typos with bundles creation
  rollup.config.mjs
  src/player.css
Due: stylelint --fix

fix: Removed old folder and fixed linter issues
  .lintstagedrc
  packages/core/__tests__/core.api.methods.test.ts
  packages/ui/src/controls/settings.ts
  packages/ui/src/ui/a11y.ts
  packages/ui/src/ui/control.ts
  packages/ui/src/ui/controls/base.ts
  packages/ui/src/ui/controls/captions.ts
  packages/ui/src/ui/controls/currentTime.ts
  packages/ui/src/ui/controls/duration.ts
  packages/ui/src/ui/controls/fullscreen.ts
  packages/ui/src/ui/controls/play.ts
  packages/ui/src/ui/controls/progress.ts
  packages/ui/src/ui/controls/settings.ts
  packages/ui/src/ui/controls/time.ts
  packages/ui/src/ui/controls/volume.ts
  packages/ui/src/ui/events.ts
  packages/ui/src/ui/extend.ts
  packages/ui/src/ui/index.ts
  packages/ui/src/ui/overlay.ts
  packages/ui/src/ui/playback.ts
  packages/ui/src/ui/settings.ts
Due: prettier --write, eslint --fix, npm run test:sources, git add --all

fix: ads integration in multiple scenarios and code cleanup
  jest.config.cjs
  packages/ads/__tests__/ads.lazyFetch.dedup.test.ts
  packages/ads/__tests__/ads.nonLinearFallback.test.ts
  packages/ads/__tests__/ads.nonlinear.library.test.ts
  packages/ads/__tests__/ads.podOrdering.test.ts
  packages/ads/__tests__/ads.sampleUrls.test.ts
  packages/ads/__tests__/mocks/vast-client.ts
  packages/ads/src/ads.ts
  packages/ads/tsconfig.declarations.json
  packages/ads/tsconfig.json
  packages/ads/types/dailymotion-vmap.d.ts
  packages/core/__tests__/core.dispose.test.ts
  packages/core/__tests__/core.events.test.ts
  packages/core/__tests__/core.lease.test.ts
  packages/core/__tests__/core.overlay.test.ts
  packages/core/__tests__/core.player.branches.test.ts
  packages/core/__tests__/engines.base.branches.test.ts
  packages/core/src/core/events.ts
  packages/core/src/core/overlay.ts
  packages/core/src/core/plugin.ts
  packages/hls/__tests__/engines.hls.branches.test.ts
  packages/hls/__tests__/engines.test.ts
  packages/hls/src/engines/hls.ts
  packages/hls/src/hls.ts
  packages/ui/__tests__/ui.control.branches.test.ts
  packages/ui/__tests__/ui.events.bindCenterOverlay.test.ts
  packages/ui/__tests__/ui.extend.test.ts
  packages/ui/__tests__/ui.index.createUI.test.ts
  packages/ui/__tests__/ui.index.mobile.branches.test.ts
  packages/ui/__tests__/ui.mediaContainer.clickPause.test.ts
  packages/ui/__tests__/ui.umd.interop.test.ts
  packages/ui/__tests__/ui.umd.src.test.ts
  packages/ui/src/controls/base.ts
  packages/ui/src/controls/captions.ts
  packages/ui/src/controls/fullscreen.ts
Due: prettier --write, eslint --fix, npm run test:sources, git add --all

fix: Fixed linter issues
  packages/ads/__tests__/ads.lazyFetch.dedup.test.ts
  packages/ads/__tests__/ads.nonlinear.library.test.ts
  packages/ui/__tests__/ui.extend.test.ts
Due: prettier --write, eslint --fix, npm run test:sources, git add --all

fix: Fixed time legend in progress bar tooltip to show counter forward and not backward
  packages/ui/src/controls/progress.ts
Due: prettier --write, eslint --fix, npm run test:sources, git add --all

fix: Increased by 1 current time to show in Ads to match reverse countdown
  packages/ads/src/ads.ts
Due: prettier --write, eslint --fix, npm run test:sources, git add --all

fix: fixed linter issues in file
  packages/hls/__tests__/engines.test.ts
Due: prettier --write, eslint --fix, npm run test:sources, git add --all

fix: package/configuration consolidation
  package-lock.json
  package.json
  packages/ads/package.json
  packages/ads/src/ads.ts
  packages/ads/tsconfig.declarations.json
  packages/ads/tsconfig.json
  packages/core/package.json
  packages/core/tsconfig.declarations.json
  packages/core/tsconfig.json
  packages/hls/package.json
  packages/hls/tsconfig.declarations.json
  packages/hls/tsconfig.json
  packages/ui/package.json
  packages/ui/tsconfig.declarations.json
  packages/ui/tsconfig.json
  rollup.config.mjs
  tsconfig.base.json
  tsconfig.build.json
  tsconfig.jest.json
  tsconfig.json
  tsconfig.rollup.json
Due: prettier --write, eslint --fix, npm run test:sources, git add --all
