Repository openplayerjs/openplayerjs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint src --cache --fix, jest, git add --all, stylelint --fix

fix: Created tsconfig file for ESLint tasks to fix linter errors in pipeline; upgraded packages
  eslint.config.mjs
  package-lock.json
  package.json
  tsconfig.eslint.json
Due: none

fix: Removed NPMRC file not needed
  .npmrc
Due: none

fix: Changed GitHub Action files to support pnpm; expanded linter command for both packages and stylesheet
  .github/workflows/coveralls.yml
  .github/workflows/linter.yml
  package.json
Due: none

fix: Changed GitHub Action files to align with supported pnpm version in package.json
  .github/workflows/coveralls.yml
  .github/workflows/linter.yml
Due: none

fix: Changed GitHub Action files by removing version from them to support pnpm version in package.json
  .github/workflows/coveralls.yml
  .github/workflows/linter.yml
  package.json
Due: none

fix: Changed supported Node version to avoid issues in pipeline
  package.json
Due: none

fix: Added missing command per package; fixed failing unit test
  packages/ads/package.json
  packages/core/package.json
  packages/hls/package.json
  packages/player/__tests__/player.umd.interop.test.ts
  packages/player/package.json
Due: prettier --write, eslint src --cache --fix, jest, git add --all

fix: Added config path for each package test command; organized commands and added one for CI purposes
  .github/workflows/coveralls.yml
  .gitignore
  package.json
  packages/ads/package.json
  packages/core/package.json
  packages/hls/package.json
  packages/player/package.json
  turbo.json
Due: none

fix: Added missing config path for release commands
  package.json
Due: none

fix: adjusted turbo config and commands to expedite tests
  .github/workflows/coveralls.yml
  package.json
  turbo.json
Due: none

fix: Removed turbo considered unnecessary
  .release-it.cjs
  package.json
  pnpm-lock.yaml
  turbo.json
Due: none

fix: Fixed typo in coveralls pipeline
  .github/workflows/coveralls.yml
Due: none

fix: Modified flag for ignoring .env files
  .gitignore
Due: none

fix: Added dotemv CLI to prefix release-it commands to accpet GitHub token
  package.json
  pnpm-lock.yaml
Due: none

fix: Added flag to test .env override
  package.json
Due: none

fix: Added missing flag to bypass auth check and types in Conventional configuration; added flag to other commands
  .release-it.cjs
  package.json
Due: none

refactor: consolidate tsconfig compilerOptions and remove unused files
  .release-it.changelog.cjs
  eslint.config.mjs
  jest.config.cjs
  packages/ads/tsconfig.json
  packages/core/tsconfig.json
  packages/hls/tsconfig.json
  packages/player/README.md
  packages/player/src/configuration.ts
  packages/player/src/index.ts
  packages/player/tsconfig.json
  scripts/init-release-notes.mjs
  tsconfig.build.json
Due: prettier --write, eslint src --cache --fix, jest, git add --all

chore: upgrade release-it, stylelint, lint-staged, cssnano, postcss-preset-env
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix: bundles name, non-linear ads not playing along with media, optional parameter for controls factories and better documentation
  packages/ads/README.md
  packages/ads/src/ads.ts
  packages/core/README.md
  packages/hls/README.md
  packages/player/README.md
  packages/player/package.json
  packages/player/src/controls/captions.ts
  packages/player/src/controls/currentTime.ts
  packages/player/src/controls/duration.ts
  packages/player/src/controls/fullscreen.ts
  packages/player/src/controls/play.ts
  packages/player/src/controls/progress.ts
  packages/player/src/controls/settings.ts
  packages/player/src/controls/time.ts
  packages/player/src/controls/volume.ts
  packages/player/src/index.ts
  packages/player/src/style.css
  pnpm-lock.yaml
  rollup.config.mjs
Due: prettier --write, eslint src --cache --fix, jest, git add --all, stylelint --fix

chore(release): v3.0.0-beta.1
  CHANGELOG.md
  package.json
  packages/ads/package.json
  packages/core/package.json
  packages/hls/package.json
  packages/player/package.json
Due: none

fix: ads breaks and playAds fixes, alignment with browser's behavior for preload/autoplay policies, and controls/UI fixes
  packages/ads/__tests__/ads.coverage.test.ts
  packages/ads/src/ads.ts
  packages/ads/src/umd.ts
  packages/core/__tests__/core.player.branches.test.ts
  packages/core/__tests__/core.utils.test.ts
  packages/core/__tests__/engines.html5.test.ts
  packages/core/src/core/index.ts
  packages/player/__tests__/player.a11y.branches.test.ts
  packages/player/__tests__/player.control.branches.test.ts
  packages/player/__tests__/player.controls.progress.branches.test.ts
  packages/player/__tests__/player.controls.test.ts
  packages/player/__tests__/player.controls.volume.branches.test.ts
  packages/player/__tests__/player.settings.test.ts
  packages/player/src/control.ts
  packages/player/src/controls/volume.ts
  packages/player/src/index.ts
  packages/player/src/style.css
  packages/player/src/ui.ts
  packages/player/src/umd.ts
Due: prettier --write, eslint src --cache --fix, jest, git add --all, stylelint --fix

chore(release): v3.0.0-beta.2
  CHANGELOG.md
  package.json
  packages/ads/package.json
  packages/core/package.json
  packages/hls/package.json
  packages/player/package.json
Due: none

refactor: Added support for old controls configuration
  packages/ads/README.md
  packages/core/README.md
  packages/hls/README.md
  packages/player/README.md
  packages/player/__tests__/player.index.autohide.test.ts
  packages/player/__tests__/player.umd.src.test.ts
  packages/player/src/ui.ts
  packages/player/src/umd.ts
Due: prettier --write, eslint src --cache --fix, jest, git add --all

chore(release): v3.0.0-alpha.0
  CHANGELOG.md
  package.json
  packages/ads/package.json
  packages/core/package.json
  packages/hls/package.json
  packages/player/package.json
Due: none

refactor: Added getter/setter pairs to mimic HTMLMediaElement ones for UMD, refactor controls.layers implementation and last minor fixes
  MIGRATION.v3.md
  package.json
  packages/ads/__tests__/ads.helpers.branches.test.ts
  packages/ads/__tests__/ads.lazyFetch.dedup.test.ts
  packages/ads/__tests__/ads.nonlinear.library.test.ts
  packages/ads/__tests__/ads.nonlinearHelpers.test.ts
  packages/ads/__tests__/ads.podCreatives.test.ts
  packages/ads/__tests__/ads.scheduling.test.ts
  packages/ads/__tests__/ads.sourceMode.test.ts
  packages/ads/__tests__/ads.test.ts
  packages/ads/__tests__/ads.vmapNonlinearEnd.test.ts
  packages/ads/__tests__/ads.vmapTimeOffset.extra.test.ts
  packages/ads/src/types/dailymotion-vmap.d.ts
  packages/hls/__tests__/engines.hls.branches.test.ts
  packages/hls/__tests__/engines.test.ts
  packages/player/README.md
  packages/player/__tests__/player.control.branches.test.ts
  packages/player/__tests__/player.controls.cleanup.test.ts
  packages/player/__tests__/player.controls.progress.branches.test.ts
  packages/player/__tests__/player.events.bindCenterOverlay.test.ts
  packages/player/__tests__/player.events.centerOverlay.test.ts
  packages/player/__tests__/player.extend.test.ts
  packages/player/__tests__/player.mediaContainer.clickPause.test.ts
  packages/player/__tests__/player.overlay.flashPause.test.ts
  packages/player/__tests__/player.settings.test.ts
  packages/player/__tests__/player.umd.src.test.ts
  packages/player/src/control.ts
  packages/player/src/index.ts
  packages/player/src/ui.ts
  packages/player/src/umd.ts
  pnpm-lock.yaml
Due: prettier --write, eslint src --cache --fix, jest, git add --all

fix: Removed vulnerabilities and added documentation for stylesheet in ESM
  package.json
  packages/player/README.md
  pnpm-lock.yaml
Due: none

chore(release): v3.0.0-alpha.1
  CHANGELOG.md
  package.json
  packages/ads/package.json
  packages/core/package.json
  packages/hls/package.json
  packages/player/package.json
Due: none

fix: Added ability to swap Hls instance, and removed ads video and subscriptions per instance, instead of globally
  packages/ads/__tests__/ads.scheduling.test.ts
  packages/ads/src/ads.ts
  packages/hls/src/hls.ts
  packages/hls/src/umd.ts
  packages/player/src/controls/base.ts
Due: prettier --write, eslint src --cache --fix, jest, git add --all

chore(release): v3.0.0-alpha.2
  CHANGELOG.md
  package.json
  packages/ads/package.json
  packages/core/package.json
  packages/hls/package.json
  packages/player/package.json
Due: none

fix: autohide controls, CSS styles for audio ads and minor fixes
  CONTRIBUTING.md
  packages/ads/__tests__/ads.sanitizer.test.ts
  packages/ads/src/ads.ts
  packages/player/__tests__/player.index.autohide.test.ts
  packages/player/__tests__/player.index.createUI.test.ts
  packages/player/src/style.css
  packages/player/src/ui.ts
Due: prettier --write, eslint src --cache --fix, jest, git add --all, stylelint --fix

chore: Upgraded CodeQL job to use newest version
  .github/workflows/codeql-analysis.yml
Due: none

chore: Upgraded CodeQL action to v4 to avoid future deprecation
  .github/workflows/codeql-analysis.yml
Due: none

chore: Added new GitHub Actions to enforce Contributing Guidelines
  .github/workflows/build.yml
  .github/workflows/commitlint.yml
  commitlint.config.cjs
Due: none

chore: tuning commitlint config and enforcing package naming conventions
  .github/workflows/package-naming.yml
  .husky/commit-msg
  CONTRIBUTING.md
  commitlint.config.cjs
  package.json
Due: none

fix: Added missing commitlint libraries and fixed deprecation warnings when installing packages
  package.json
  pnpm-lock.yaml
Due: none

fix: commitlint for v3 going forward
  .github/workflows/commitlint.yml
  .husky/pre-push
  commitlint.config.cjs
Due: none

Path conditions:
  prettier --write: any of: *.ts
  eslint src --cache --fix: any of: *.ts
  jest: any of: *.ts
  git add --all: (any of: *.ts) or (any of: *.css)
  stylelint --fix: any of: *.css
