Repository openplayerjs/openplayerjs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint src --cache --fix, jest, git add --all, stylelint --fix

fix(ci): revert overrides edit when audit-fix's pnpm install fails
  .github/workflows/dependency-audit.yml
  scripts/audit-fix.cjs
Due: none

fix(ci): revert overrides edit when audit-fix's pnpm install fails (#640)
  .github/workflows/dependency-audit.yml
  scripts/audit-fix.cjs
Due: none

refactor(player): dedupe redundant textTracks reads in CaptionsControl
  packages/player/__tests__/player.controls.captions.test.ts
  packages/player/src/controls/captions.ts
Due: prettier --write, eslint src --cache --fix, jest, git add --all

refactor(player): dedupe redundant textTracks reads in CaptionsControl (#641)
  packages/player/__tests__/player.controls.captions.test.ts
  packages/player/src/controls/captions.ts
Due: prettier --write, eslint src --cache --fix, jest, git add --all

perf(player): cache SettingsRegistry.list()'s sorted result
  packages/player/__tests__/player.settings.test.ts
  packages/player/src/settings.ts
Due: prettier --write, eslint src --cache --fix, jest, git add --all

perf(player): cache SettingsRegistry.list()'s sorted result (#642)
  packages/player/__tests__/player.settings.test.ts
  packages/player/src/settings.ts
Due: prettier --write, eslint src --cache --fix, jest, git add --all

chore(deps): Fixed vulnerability GHSA-2v37-7h3g-55p8
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore(release): @openplayerjs/player@3.6.2
  CHANGELOG.md
  packages/player/package.json
Due: none

perf(ads): hoist setSafeHTMLFn's blocked-tags Set to module scope
  packages/ads/__tests__/ad-dom.branches.test.ts
  packages/ads/src/ad-dom.ts
Due: prettier --write, eslint src --cache --fix, jest, git add --all

perf(ads): hoist setSafeHTMLFn's blocked-tags Set to module scope (#651)
  packages/ads/__tests__/ad-dom.branches.test.ts
  packages/ads/src/ad-dom.ts
Due: prettier --write, eslint src --cache --fix, jest, git add --all

chore(release): @openplayerjs/ads@3.6.3
  CHANGELOG.md
  packages/ads/package.json
Due: none

refactor(hls): drop dead options param from onAdapterEvent bookkeeping
  packages/hls/__tests__/engines.hls.branches.test.ts
  packages/hls/src/hls.ts
Due: prettier --write, eslint src --cache --fix, jest, git add --all

perf(core): make Core.emit's plugin notification a single pass
  packages/core/__tests__/core.player.test.ts
  packages/core/src/core/index.ts
Due: prettier --write, eslint src --cache --fix, jest, git add --all

refactor(hls): drop dead options param from onAdapterEvent bookkeeping (#656)
  packages/hls/__tests__/engines.hls.branches.test.ts
  packages/hls/src/hls.ts
Due: prettier --write, eslint src --cache --fix, jest, git add --all

perf(core): make Core.emit's plugin notification a single pass (#657)
  packages/core/__tests__/core.player.test.ts
  packages/core/src/core/index.ts
Due: prettier --write, eslint src --cache --fix, jest, git add --all

chore(release): @openplayerjs/core@3.6.4
  CHANGELOG.md
  packages/core/package.json
Due: none

chore(release): @openplayerjs/player@3.6.4
  packages/player/package.json
Due: none

chore(release): @openplayerjs/hls@3.6.4
  packages/hls/package.json
Due: none

chore(release): @openplayerjs/ads@3.6.4
  packages/ads/package.json
Due: none

chore(release): @openplayerjs/youtube@3.6.4
  packages/youtube/package.json
Due: none

perf(ads): cache derived break id/input across repeated schedule lookups
  packages/ads/__tests__/schedule.branches.test.ts
  packages/ads/src/schedule.ts
Due: prettier --write, eslint src --cache --fix, jest, git add --all

perf(ads): cache derived break id/input across repeated schedule lookups (#664)
  packages/ads/__tests__/schedule.branches.test.ts
  packages/ads/src/schedule.ts
Due: prettier --write, eslint src --cache --fix, jest, git add --all

chore(release): @openplayerjs/ads@3.6.5
  CHANGELOG.md
  packages/ads/package.json
Due: none

chore(deps): Fixed vulnerabilities GHSA-73wf-gq98-2v4g / GHSA-c83g-rgw3-j3cx
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix(player): Added new media queries to avoid trap hover styles in mobile or hybrid devices
  packages/player/src/events.ts
  packages/player/src/style.css
Due: prettier --write, eslint src --cache --fix, jest, git add --all, stylelint --fix

chore(release): @openplayerjs/player@3.6.5
  CHANGELOG.md
  packages/player/package.json
Due: none

chore(deps): Added @parcel/watcher in the allowBuilds list
  pnpm-workspace.yaml
Due: none

chore(deps): Upgraded pnpm to v12.4.1
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): Fixed vulnerabilities GHSA-gfhx-hw2g-v5hg and GHSA-c475-qrg2-pj4r; ignored GHSA-vfj7-8cjw-p6xm
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Path conditions:
  prettier --write: any of: *.ts
  eslint src --cache --fix: any of: *.ts
  jest: any of: *.ts
  git add --all: (any of: *.ts) or (any of: *.css)
  stylelint --fix: any of: *.css
