Repository openplayerjs/openplayerjs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, npm run test:changes, git add --all, stylelint --fix

fix(ads): Added missing variable when playing live ads; fixed documentation
  docs/usage.md
  src/media/ads.ts
Due: prettier --write, eslint --fix, npm run test:changes, git add --all

chore: Fixed formatting issues with table
  docs/usage.md
Due: none

chore: Enabled minified source for testing purposes
  .gitignore
  dist/openplayer.min.js
Due: prettier --write, eslint --fix, npm run test:changes, git add --all

chore: upgraded packages and started documentation updates for 3.x.x version
  .babelrc
  README.md
  migration.md
  package-lock.json
  package.json
Due: none

chore: Upgraded packages and Node version to v18
  package-lock.json
  package.json
Due: none

chore: Upgraded packages and minor linter corrections
  .babelrc
  dist/openplayer.min.js
  package-lock.json
  package.json
  src/player.ts
  types/interfaces.d.ts
Due: prettier --write, eslint --fix, npm run test:changes, git add --all

fix(player): Fixed conditional that assumed always to hide volume control on non-desktop devices; updated code to avoid using deprecated keyboard events
  src/controls/fullscreen.ts
  src/controls/play.ts
  src/controls/progress.ts
  src/controls/settings.ts
  src/controls/volume.ts
Due: prettier --write, eslint --fix, npm run test:changes, git add --all

chore: updated usage.md
  docs/usage.md
Due: none

chore: updated usage.md (#374)
  docs/usage.md
Due: none

Updated config.yml
  .circleci/config.yml
Due: none

Release 2.13.1
  CHANGELOG.md
  README.md
  package-lock.json
  package.json
Due: none

Release 2.13.2
  CHANGELOG.md
  README.md
  package-lock.json
  package.json
Due: none

Final site changes
  css/estilo.css
  css/style.css
  embed.html
  img/browser_chrome.svg
  img/browser_edge.svg
  img/browser_mozilla.svg
  img/browser_safari.svg
  img/browsers.svg
  img/config.png
  img/devices.svg
  img/formulario.png
  img/img_audio.jpg
  img/logo.png
  img/menu.svg
  img/video.png
  img/video1.png
  index.html
  js/script.js
Due: prettier --write, eslint --fix, npm run test:changes, git add --all, stylelint --fix

Fixed issues with responsive menu and some styles
  css/style.css
  index.html
Due: stylelint --fix

Release 2.13.3
  CHANGELOG.md
  README.md
  docs/customize.md
  migration.md
  package-lock.json
  package.json
Due: none

Added missing favicon
  img/favicon.png
Due: none

chore: Updated pipeline
  .circleci/config.yml
Due: none

Updated permissions on file
  img/favicon.png
Due: none

Updated permissions on file
  img/favicon.ico
Due: none

feat: Added new option to display quality control from form; refactor code to improve behavior overall; fixed CSS styles for mobile
  css/style.css
  embed.html
  index.html
Due: stylelint --fix

chore: Fixed player configuration
  embed.html
Due: none

feat: Added new option to display poster in media; removed debugging line
  embed.html
  index.html
Due: none

feat: Added dynamic change of height based on iframe content; added new option to force HSL on Android
  embed.html
  index.html
Due: none

Removed flag for Android
  embed.html
Due: none

chore: Aded subtitle elements for embed
  css/style.css
  embed.html
  index.html
Due: stylelint --fix

Update README.md
  README.md
Due: none

Release 2.14.0
  .npmrc
  .stylelintrc
  CHANGELOG.md
  dist/esm/controls.js
  dist/esm/controls/progress.js
  dist/esm/controls/volume.js
  dist/openplayer.css
  dist/openplayer.js
  dist/openplayer.min.css
  dist/openplayer.min.js
  dist/openplayer.min.js.map
  package-lock.json
  package.json
  src/js/controls.ts
  src/js/controls/fullscreen.ts
  src/js/controls/progress.ts
  src/js/controls/volume.ts
  src/js/interfaces.ts
  src/js/utils/constants.ts
  test/controls/volume.ts
  test/player.ts
  types/interfaces.d.ts
  types/utils/constants.d.ts
Due: prettier --write, eslint --fix, npm run test:changes, git add --all, stylelint --fix

Added alt element in subitems; reduced encoded SVG size to close #401; added validations to check if value is NaN and avoid setting it if so
  dist/esm/controls.js
  dist/esm/controls/progress.js
  dist/openplayer.css
  dist/openplayer.js
  dist/openplayer.min.css
  dist/openplayer.min.js
  dist/openplayer.min.js.map
  src/css/player.css
  src/js/controls.ts
  src/js/controls/progress.ts
  src/js/interfaces.ts
  types/interfaces.d.ts
Due: prettier --write, eslint --fix, npm run test:changes, git add --all, stylelint --fix

Fixed issue with `alt` attribute not being set correctly
  dist/esm/controls.js
  dist/openplayer.js
  dist/openplayer.min.js
  dist/openplayer.min.js.map
  src/js/controls.ts
Due: prettier --write, eslint --fix, npm run test:changes, git add --all

Added new configuration setup for custom controls to insert it in a specific index if indicated; removed project from list
  README.md
  dist/esm/controls.js
  dist/openplayer.js
  dist/openplayer.min.js
  dist/openplayer.min.js.map
  docs/customize.md
  src/js/controls.ts
  src/js/interfaces.ts
  types/interfaces.d.ts
Due: prettier --write, eslint --fix, npm run test:changes, git add --all

Fixed vulnerability
  package-lock.json
Due: none

Removed flag that prevented play to work as expected with preload="none"; fixes #403
  dist/esm/media.js
  dist/openplayer.js
  dist/openplayer.min.js
  dist/openplayer.min.js.map
  src/js/media.ts
Due: prettier --write, eslint --fix, npm run test:changes, git add --all

Release 2.14.1
  CHANGELOG.md
  index.html
  package-lock.json
  package.json
Due: none

Removed debugging file
  index.html
Due: none

Release 2.14.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix(captions): Refactor code to remove remote captions due to CORS issues; fixed way to display VTT captions that overlap; fixed issues with QT captions for iOS
  .eslintrc
  dist/esm/controls/captions.js
  dist/openplayer.css
  dist/openplayer.js
  dist/openplayer.min.css
  dist/openplayer.min.js
  dist/openplayer.min.js.map
  src/css/player.css
  src/js/controls/captions.ts
  types/controls/captions.d.ts
Due: prettier --write, eslint --fix, npm run test:changes, git add --all, stylelint --fix

Integrated Vite to replace Webpack
  dist/esm/controls.js
  dist/esm/controls/captions.js
  dist/esm/controls/fullscreen.js
  dist/esm/controls/levels.js
  dist/esm/controls/play.js
  dist/esm/controls/progress.js
  dist/esm/controls/settings.js
  dist/esm/controls/time.js
  dist/esm/controls/volume.js
  dist/esm/interfaces.js
  dist/esm/media.js
  dist/esm/media/ads.js
  dist/esm/media/dash.js
  dist/esm/media/flv.js
  dist/esm/media/hls.js
  dist/esm/media/html5.js
  dist/esm/media/native.js
  dist/esm/player.js
  dist/esm/player.js.map
  dist/esm/utils/constants.js
  dist/esm/utils/general.js
  dist/esm/utils/media.js
  dist/esm/utils/time.js
  dist/openplayer.js
  dist/openplayer.js.map
  dist/openplayer.min.css
  dist/openplayer.min.js
  dist/openplayer.min.js.map
  package-lock.json
  package.json
  src/js/utils/constants.ts
  types/interfaces.d.ts
  types/media/ads.d.ts
  types/utils/constants.d.ts
  vite.config.ts
Due: prettier --write, eslint --fix, npm run test:changes, git add --all, stylelint --fix

Path conditions:
  prettier --write: (any of: *.{js,ts}) or (any of: src/js/**/*.json)
  eslint --fix: any of: *.{js,ts}
  npm run test:changes: any of: *.{js,ts}
  git add --all: (any of: *.{js,ts}) or (any of: src/js/**/*.json)
  stylelint --fix: any of: *.css
