Repository openplayerjs/openplayerjs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, npm run test:changes, git add --all, stylelint --fix

.lintstagedrc:

{
    "*.{js,ts}": [
        "prettier --write",
        "eslint --fix",
        "npm run test:changes",
        "git add --all"
    ],
    "src/js/**/*.json": [
        "prettier --write",
        "git add --all"
    ],
    "*.css": [
        "stylelint --fix"
    ]
}

fix(captions): Added missing documentation about captions and subtitles; fixed issue when using empty track tag and removed conditional to avoid rendering captions; fixed unit tests. Fixes #409
  README.md
  dist/esm/controls/captions.js
  dist/openplayer.js
  dist/openplayer.min.js
  dist/openplayer.min.js.map
  docs/usage.md
  src/js/controls/captions.ts
  test/player.ts
Due: prettier --write, eslint --fix, npm run test:changes, git add --all

fix(captions): Added missing documentation about captions and subtitles; fixed issue when using empty track tag and removed conditional to avoid rendering captions; fixed unit tests. Fixes #409
  dist/esm/controls/captions.js
  dist/openplayer.js
  dist/openplayer.min.js
  dist/openplayer.min.js.map
  src/js/controls/captions.ts
  test/player.ts
Due: prettier --write, eslint --fix, npm run test:changes, git add --all

Release 2.14.3
  CHANGELOG.md
  package-lock.json
  package.json
  test/captions.vtt
Due: none

fix(hls): Changed way to create smooth quality switching by using different HLS method
  README.md
  dist/esm/media/hls.js
  dist/openplayer.js
  dist/openplayer.min.js
  dist/openplayer.min.js.map
  src/js/media/hls.ts
Due: prettier --write, eslint --fix, npm run test:changes, git add --all

fix(captions): Added missing workflow to remove captions when switching to a different one
  dist/esm/controls/captions.js
  dist/openplayer.js
  dist/openplayer.min.js
  dist/openplayer.min.js.map
  src/js/controls/captions.ts
Due: prettier --write, eslint --fix, npm run test:changes, git add --all

fix(captions): Added missing workflow to set active cue text properly when switching to a different one
  dist/esm/controls/captions.js
  dist/openplayer.js
  dist/openplayer.min.js
  dist/openplayer.min.js.map
  src/js/controls/captions.ts
Due: prettier --write, eslint --fix, npm run test:changes, git add --all

tests
  .github/workflows/coveralls.yml
  package.json
Due: none

tests
  .github/workflows/coveralls.yml
Due: none

tests
  .circleci/config.yml
Due: none

tests
  _tests_/test.ts
  jest.config.ts
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write, eslint --fix, npm run test:changes, git add --all

tests
  package-lock.json
  package.json
Due: none

tests
  .eslintrc
  _tests_/test.ts
  jest.config.ts
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write, eslint --fix, npm run test:changes, git add --all

chore: Major improvements removing old packages to use more modern approach to build player and reduce code footprint
  .github/workflows/coveralls.yml
  _tests_/audio.html
  _tests_/video.html
  jest.config.ts
  postcss.config.cjs
  src/controls.ts
  src/controls/captions.ts
  src/controls/fullscreen.ts
  src/controls/levels.ts
  src/controls/play.ts
  src/controls/progress.ts
  src/controls/settings.ts
  src/controls/time.ts
  src/controls/volume.ts
  src/interfaces.ts
  src/media.ts
  src/media/ads.ts
  src/media/dash.ts
  src/media/flv.ts
  src/media/hls.ts
  src/media/html5.ts
  src/media/native.ts
  src/player.ts
  src/utils/constants.ts
  src/utils/general.ts
  src/utils/media.ts
  src/utils/time.ts
  styles/player.css
  vite.config.ts
Due: prettier --write, eslint --fix, npm run test:changes, git add --all, stylelint --fix

chore: Renamed tests folder and added initial E2E file; installed missing package; added styles correctly
  .eslintrc
  __tests__/audio.html
  __tests__/e2e.test.ts
  __tests__/video.html
  dist/openplayer.css
  dist/openplayer.es.js
  dist/openplayer.es.js.map
  dist/openplayer.js
  dist/openplayer.js.map
  dist/openplayer.min.css
  dist/openplayer.min.js
  dist/openplayer.min.js.map
  package-lock.json
  package.json
  src/player.ts
  styles/player.css
Due: prettier --write, eslint --fix, npm run test:changes, git add --all, stylelint --fix

fix(player): Added missing workflows to show/hide captions correctly in multiple scenarios; set default value to force native HLS to false; added new GitHub action to process coveralls command
  .circleci/config.yml
  .github/workflows/coveralls.yml
  dist/esm/controls/captions.js
  dist/esm/player.js
  dist/openplayer.js
  dist/openplayer.min.js
  dist/openplayer.min.js.map
  docs/usage.md
  package-lock.json
  package.json
  src/js/controls/captions.ts
  src/js/player.ts
  types/controls/captions.d.ts
Due: prettier --write, eslint --fix, npm run test:changes, git add --all

chore: Installed Vite and set bundler to create UMD/ESM files; changed JS files to CJS
  dist/esm/controls.js
  dist/esm/controls/captions.js
  dist/esm/controls/fullscreen.js
  dist/esm/controls/levels.js
  dist/esm/controls/play.js
  dist/esm/controls/progress.js
  dist/esm/controls/settings.js
  dist/esm/controls/time.js
  dist/esm/controls/volume.js
  dist/esm/interfaces.js
  dist/esm/media.js
  dist/esm/media/ads.js
  dist/esm/media/dash.js
  dist/esm/media/flv.js
  dist/esm/media/hls.js
  dist/esm/media/html5.js
  dist/esm/media/native.js
  dist/esm/player.js
  dist/esm/utils/constants.js
  dist/esm/utils/general.js
  dist/esm/utils/media.js
  dist/esm/utils/time.js
  dist/openplayer.es.js
  dist/openplayer.es.js.map
  dist/openplayer.js
  dist/openplayer.js.map
  dist/openplayer.min.js
  dist/openplayer.min.js.map
  karma.conf.cjs
  package-lock.json
  package.json
  postcss.config.cjs
  tsconfig-esm.json
  tsconfig.json
  vite.config.ts
  webpack.config.js
Due: prettier --write, eslint --fix, npm run test:changes, git add --all

Release 2.14.4
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix: upgrade core-js from 3.22.8 to 3.37.1
  package-lock.json
  package.json
Due: none

fix(player): Removed crypto alias to favor Web Crypto API; upgraded package. Fixes #424
  dist/esm/player.js
  dist/openplayer.js
  dist/openplayer.min.js
  dist/openplayer.min.js.map
  package-lock.json
  src/js/player.ts
Due: prettier --write, eslint --fix, npm run test:changes, git add --all

chore: Upgraded packages and fixed global interface for network connection
  dist/esm/player.js
  dist/openplayer.css
  dist/openplayer.js
  dist/openplayer.min.css
  dist/openplayer.min.js
  dist/openplayer.min.js.map
  package-lock.json
  package.json
  src/js/utils/constants.ts
  types/interfaces.d.ts
  types/utils/constants.d.ts
Due: prettier --write, eslint --fix, npm run test:changes, git add --all, stylelint --fix

Release 2.14.5
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix: upgrade auto-changelog from 2.4.0 to 2.5.0
  package-lock.json
  package.json
Due: none

Fix ad request muted state
  src/js/media/ads.ts
Due: prettier --write, eslint --fix, npm run test:changes, git add --all

Fix ad request muted state (#427)
  src/js/media/ads.ts
Due: prettier --write, eslint --fix, npm run test:changes, git add --all

Release 2.14.6
  CHANGELOG.md
  dist/esm/media/ads.js
  dist/openplayer.js
  dist/openplayer.min.js
  dist/openplayer.min.js.map
  package-lock.json
  package.json
Due: prettier --write, eslint --fix, npm run test:changes, git add --all

fix: upgrade auto-changelog from 2.4.0 to 2.5.0 (#425)
  package-lock.json
  package.json
Due: none

Release 2.14.7
  CHANGELOG.md
  package-lock.json
  package.json
  test/player.ts
Due: prettier --write, eslint --fix, npm run test:changes, git add --all

fix: upgrade core-js from 3.38.1 to 3.39.0
  package-lock.json
  package.json
Due: none

fix: upgrade core-js from 3.38.1 to 3.39.0 (#430)
  package-lock.json
  package.json
Due: none

fix: upgrade core-js from 3.39.0 to 3.40.0
  package-lock.json
  package.json
Due: none

fix(docs): Fixed table formatting issue
  docs/usage.md
Due: none

fix: upgrade core-js from 3.39.0 to 3.40.0 (#431)
  package-lock.json
  package.json
Due: none
