Repository openplayerjs/openplayerjs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint src --cache --fix, jest, git add --all, stylelint --fix

fix: Changed configuration of release-it to restore version from package.json, and fixed npm warnings
  .release-it.cjs
  scripts/publish-workspace.cjs
Due: none

fix: Added flag to avoid erroring out while performing a release
  .release-it.cjs
Due: none

chore(release): v3.0.0
  CHANGELOG.md
  package.json
  packages/ads/package.json
  packages/core/package.json
  packages/hls/package.json
  packages/player/package.json
Due: none

feat: Upgraded website to reflect changes for OpenPlayerJS v3, including new code snippets and a refined version of Try Me section
  css/style.css
  embed.html
  index.html
Due: git add --all, stylelint --fix

fix: Removed VPAID from SVG, moved inline styles to main stylesheet
  css/style.css
  img/ads.svg
  index.html
Due: git add --all, stylelint --fix

fix: Removed typo in jsDelivr CDN URLs coming from old files
  MIGRATION.v3.md
  README.md
  packages/ads/src/index.ts
  packages/hls/src/index.ts
Due: prettier --write, eslint src --cache --fix, jest, git add --all

chore: Added VSCode extensions to support contributions
  .vscode/extensions.json
Due: none

refactor: SIMID and OMID support
  packages/ads/__tests__/ads.omid.test.ts
  packages/ads/__tests__/ads.simid.test.ts
  packages/ads/__tests__/ads.simidExtract.test.ts
  packages/ads/src/ad-dom.ts
  packages/ads/src/ads.ts
  packages/ads/src/caption-manager.ts
  packages/ads/src/index.ts
  packages/ads/src/install.ts
  packages/ads/src/omid.ts
  packages/ads/src/schedule.ts
  packages/ads/src/simid.ts
  packages/ads/src/types.ts
  packages/ads/src/vast-parser.ts
Due: prettier --write, eslint src --cache --fix, jest, git add --all

chore(release): v3.0.1
  CHANGELOG.md
  package.json
  packages/ads/package.json
  packages/core/package.json
  packages/hls/package.json
  packages/player/package.json
Due: none

fix: Fixed hook to allow brand-new branches to be pushed
  .husky/pre-push
Due: none

fix: Fixed hook to allow brand-new branches to be pushed to GitHub
  .husky/pre-push
Due: none

chore(release): v3.0.2
  CHANGELOG.md
  package.json
  packages/ads/package.json
  packages/core/package.json
  packages/hls/package.json
  packages/player/package.json
Due: none

fix: ads captions, commitlint adjustment and test coverage increase
  .github/workflows/commitlint.yml
  .github/workflows/renovate.yml
  .husky/pre-push
  jest.config.cjs
  packages/ads/src/ads.ts
  packages/core/__tests__/core.dispose.test.ts
  packages/core/__tests__/core.player.branches.test.ts
  packages/core/__tests__/core.surface.test.ts
  packages/core/__tests__/core.utils.test.ts
  packages/core/__tests__/engines.base.branches.test.ts
  packages/core/__tests__/engines.html5.test.ts
  packages/core/__tests__/engines.iframe.test.ts
  packages/player/__tests__/player.controls.captions.test.ts
  packages/player/__tests__/player.controls.progress.branches.test.ts
  packages/player/__tests__/player.controls.settings.branches.test.ts
  packages/player/__tests__/player.index.autohide.test.ts
  packages/player/__tests__/player.playback.toggle.test.ts
  packages/player/src/controls/captions.ts
  packages/player/src/controls/settings.ts
Due: prettier --write, eslint src --cache --fix, jest, git add --all

test: fix ESM imports, addTextTrack mock, and commitlint tag fetch
  .github/workflows/commitlint.yml
  packages/core/__tests__/core.player.branches.test.ts
  packages/core/__tests__/engines.iframe.test.ts
  packages/player/__tests__/player.controls.captions.test.ts
  packages/player/__tests__/player.playback.toggle.test.ts
Due: prettier --write, eslint src --cache --fix, jest, git add --all

test: cover ArrowLeft/Right, mute overlay sync, and fullscreen resize branches
  packages/player/__tests__/player.controls.fullscreen.branches.test.ts
  packages/player/__tests__/player.controls.volume.branches.test.ts
  packages/player/__tests__/player.events.bindCenterOverlay.test.ts
Due: prettier --write, eslint src --cache --fix, jest, git add --all

feat: package orchestration, UI events and new YouTube package
  package.json
  packages/ads/.release-it.cjs
  packages/ads/rollup.config.mjs
  packages/core/.release-it.cjs
  packages/core/rollup.config.mjs
  packages/hls/.release-it.cjs
  packages/hls/rollup.config.mjs
  packages/player/README.md
  packages/player/rollup.config.mjs
  packages/player/src/controls/captions.ts
  packages/player/src/style.css
  packages/player/src/ui.ts
  packages/youtube/.release-it.cjs
  packages/youtube/README.md
  packages/youtube/__tests__/youtube.engine.test.ts
  packages/youtube/package.json
  packages/youtube/rollup.config.mjs
  packages/youtube/src/index.ts
  packages/youtube/src/umd.ts
  packages/youtube/src/youtube.ts
  packages/youtube/src/youtubeAdapter.ts
  packages/youtube/tsconfig.json
  pnpm-lock.yaml
  rollup.shared.mjs
  scripts/orchestrate-release.mjs
  turbo.json
Due: prettier --write, eslint src --cache --fix, jest, git add --all, stylelint --fix

fix: Turbo commands misaligned and pipeline error
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/commitlint.yml
  .github/workflows/coveralls.yml
  .github/workflows/linter.yml
  .github/workflows/package-naming.yml
  package.json
  packages/ads/package.json
  packages/ads/tsconfig.json
  packages/core/package.json
  packages/hls/package.json
  packages/player/package.json
  packages/youtube/rollup.config.mjs
  pnpm-lock.yaml
  scripts/orchestrate-release.mjs
  tsconfig.json
Due: none

fix: Fixed unit tests related to caption changes
  packages/player/__tests__/player.controls.captions.test.ts
Due: prettier --write, eslint src --cache --fix, jest, git add --all

chore: Upgraded GitHub Action checkout to v6
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/commitlint.yml
  .github/workflows/coveralls.yml
  .github/workflows/linter.yml
  .github/workflows/package-naming.yml
Due: none

chore: Upgraded GitHub Action setup-node to v6
  .github/workflows/build.yml
  .github/workflows/commitlint.yml
  .github/workflows/coveralls.yml
  .github/workflows/linter.yml
Due: none

fix: Fixed misplaced action where pnpm one should have been placed
  .github/workflows/build.yml
  .github/workflows/coveralls.yml
  .github/workflows/linter.yml
Due: none

chore: Removed unnecessary badge in all packages
  packages/ads/README.md
  packages/core/README.md
  packages/hls/README.md
  packages/player/README.md
  packages/youtube/README.md
Due: none

fix: Changed commitlint to limit linting and added flag for Renovate to follow commit conventions
  .github/workflows/commitlint.yml
  renovate.json
Due: none

fix: Changed commitlint to skip renovate[bot] commits
  .github/workflows/commitlint.yml
Due: none

fix: Reverted change in commitlint to skip renovate[bot]
  .github/workflows/commitlint.yml
Due: none

fix: Removed invalid pnpm entry for extends
  renovate.json
Due: none

fix: Added new commit types for releases
  packages/ads/.release-it.cjs
  packages/core/.release-it.cjs
  packages/hls/.release-it.cjs
  packages/player/.release-it.cjs
  packages/youtube/.release-it.cjs
Due: none

fix: Removed release-it config flags in favor of release notes
  packages/ads/.release-it.cjs
  packages/core/.release-it.cjs
  packages/hls/.release-it.cjs
  packages/player/.release-it.cjs
  packages/youtube/.release-it.cjs
Due: none

chore: Added YouTube package in the list of supported packages
  README.md
Due: none

chore: Added permanent npmrc file to use NPM_TOKEN automatically
  .gitignore
  .npmrc
Due: none

fix: Changed orchestration file to read .env from package root
  scripts/orchestrate-release.mjs
Due: none

fix: Added fallback for NPM_TOKEN
  .npmrc
Due: none

fix: Removing .npmrc not needed
  .npmrc
Due: none

chore(release): @openplayerjs/core@3.1.0
  packages/core/package.json
Due: none

chore(release): @openplayerjs/player@3.1.0
  packages/player/package.json
Due: none

Path conditions:
  prettier --write: any of: *.ts
  eslint src --cache --fix: any of: *.ts
  jest: any of: *.ts
  git add --all: (any of: *.ts) or (any of: *.css)
  stylelint --fix: any of: *.css
